#Light {
  background-color: #f1faee;
  height: 100%;
}

#Dark {
  color: white;
  background-color: #1d3557;
  height: 100%;
}

.content {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 30px 30px;
}